body {
    background-color: #f0f0f0;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
}

/* Style for the navigation bar */
.navbar {
    background-color: #f8f9fa;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    width: 94.5%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for the navigation bar heading */
.navbar h3 {
    font-size: 30px;
    color: #333;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
}

/* Flexbox container for navigation links */
.nav-links {
    display: flex;
    font-family: 'Oswald', sans-serif;
}

/* Style for navigation list items */
.nav-links li {
    list-style: none;
    font-size: 1.2rem;
    margin-left: 20px;
}

/* Style for navigation links */
.nav-links li a {
    color: black;
    display: block;
    padding: 5px 10px;
    border-radius: 30px;
    text-decoration: none;
    transition: all 0.6s ease;
}

/* Hover effects for navigation links */
.nav-links li a:hover {
    color: white;
    background-color: black;
    transform: scale(1.08);
}
.lightblack-highlight {
    color: #333;
}

.grey-highlight {
    color: #666;
}

.section-header h2 {
    color: #0a0a0a;
    text-align: center;
    margin-bottom: 30px;
}

#room-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.room-card {
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 45px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.room-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.room-capacity {
    font-size: 18px;
    margin-bottom: 15px;
}

.book-btn, .edit-btn {
    background-color: #208006;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

.book-btn:hover, .edit-btn:hover {
    background-color: #166204;
}

/* New styles for the capacity control buttons */
.capacity-control {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.capacity-control button {
    background-color: #208006;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 18px;
}

.capacity-control button:hover {
    background-color: #166204;
}

.capacity-control .current-capacity {
    margin: 0 10px;
    font-size: 18px;
    font-weight: bold;
}

/* Styles the footer */
footer {
    background: #666;
    color: rgb(255, 255, 255);
    padding: 22px 10px;
    margin-top: 280px;
    font-family: 'Raleway', sans-serif;
}

.h-fourth {
    font-size: 1rem;
    padding: 10px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.center {
    text-align: center;
}
