body {
    background-color: #f0f0f0;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
}

.lightblack-highlight {
    color: #333;
}

.grey-highlight {
    color: #666;
}

.section-header h2 {
    color: #0a0a0a;
    text-align: center;
    margin-bottom: 30px;
}

#room-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.room-card {
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 45px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.room-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.room-capacity {
    font-size: 18px;
    margin-bottom: 15px;
}

.book-btn, .edit-btn {
    background-color: #208006;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

.book-btn:hover, .edit-btn:hover {
    background-color: #166204;
}

/* New styles for the capacity control buttons */
.capacity-control {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.capacity-control button {
    background-color: #208006;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 18px;
}

.capacity-control button:hover {
    background-color: #166204;
}

.capacity-control .current-capacity {
    margin: 0 10px;
    font-size: 18px;
    font-weight: bold;
}
